.balvesba-component {
    @color-black: #000;
    @color-dark-gray: #a9a9a9;
    @color-light-gray: #d3d3d3;
    @color-orange: #FF8000;
    
    .container {
        padding: .5rem 2rem;

        h1, h2, h3, h4, p{
            color: inherit !important;
            text-align: left;
        }

        h1{
            font-weight: bolder;
        }

        h2{
            font-weight: bold;
        }

        h4, .second-section{
            display: none;
        }

        .title-second-section{
            padding-bottom: 30px;
            border-bottom: 1px solid @color-light-gray;
        }

        select{
            padding: 7px 5px;
            width: 250px;
        }

        .content{
            display: flex;
            align-items: center;
            justify-content: space-between;

            aside{
                padding: 0 10px;
                margin: 0 10px;
            }
        }

        .second-section{
            margin: 50px 0px;

            .strip{
                margin-top: 30px;
            }

            table tbody th, table tbody td {
                color: @color-black;
            }

            .dataTables_wrapper .dataTables_length, 
            .dataTables_wrapper .dataTables_filter, 
            .dataTables_wrapper .dataTables_info, 
            .dataTables_wrapper .dataTables_processing, 
            .dataTables_wrapper .dataTables_paginate{
                color: inherit !important;
            }

            .user-profile{
                display: flex;
                width: 450px;
                padding: 20px;
                border: 3px solid @color-light-gray;
                border-radius: 15px;

                img{
                    width: 150px;
                    height: auto;
                    border-radius: 50%;
                    padding: 3px;
                    border: 3px solid;
                    border-color: @color-light-gray @color-dark-gray @color-dark-gray @color-light-gray;
                    margin-right: 10px;
                }

                div{
                    padding: 0px 20px;
                    border-left: 2px solid @color-light-gray;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                }

                > p:first-child{
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 1;
                }

                > p:nth-child(2){
                   font-style: italic;
                   line-height: 1;
                }

                > p:nth-child(2):before{
                    content: '(';
                }

                > p:nth-child(2):after{
                    content: ')';
                }

                a{
                    color: @color-orange;
                    font-size: 14px;
                }
            }
        }
    }
}
    